.sidenav-container {
    height: 100vh; 
  }
  
  .sidenav {
    width: 170px; 
  }
  
  .container {
    display: flex;
    justify-content: center; 
    align-items: center;     
    flex-direction: column;  
    height: 100%;            
  }

  .menu-list {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
  }
  
  .menu-list li {
    margin: 10px 0; 
  }

  .mat-toolbar {
    height: 50px; 
    min-height: 40px; 
  }
  
  