html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  /* Evita barras de rolagem */
}

.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 170px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.menu-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-list li {
  margin: 10px 0;
}

.mat-toolbar {
  height: 50px;
  min-height: 40px;
}

.form-control-borderless {
  border: none;
}

.form-control-borderless:hover,
.form-control-borderless:active,
.form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}