<div class="wallet-container">
    <mat-card class="wallet-card">
      <mat-card-title>Wallet</mat-card-title>
      <div class="coin-list">
        <div class="coin-buttons">
          <button mat-raised-button color="primary">Bitcoin</button>
          <button mat-raised-button color="primary">Ethereum</button>
          <button mat-raised-button color="primary">Litecoin</button>
          <!-- Adicione moedas -->
        </div>
      </div>
      <div class="chart-container">
        <mat-card>
          <mat-card-title>Gráfico de Moedas</mat-card-title>
          <canvas id="myChart"></canvas> <!-- gráfico aqui -->
        </mat-card>
      </div>
    </mat-card>
  </div>
  