<div class="content-container">
  <div class="search-container">
    <form (submit)="onEnterKey(); $event.preventDefault();" class="card card-sm">
      <div class="card-body d-flex align-items-center">
        <!-- Ícone de Pesquisa -->
        <mat-icon class="search-icon"></mat-icon>
        
        <!-- Campo de Pesquisa -->
        <mat-form-field class="search-field" appearance="fill">
          <input 
            #searchInput
            matInput
            name="search"
            type="search"
            placeholder="Pesquisar moeda"
            [(ngModel)]="searchQuery"
            (input)="onInputChange(searchInput.value)"
            (keydown.enter)="onEnterKey()"
          />
        </mat-form-field>

        <!-- Botão de Pesquisa -->
        <button mat-raised-button color="primary" type="button" (click)="onEnterKey()">Pesquisar</button>
      </div>

      <!-- Sugestões -->
      <mat-list *ngIf="searchResults.length > 0" class="search-results">
        <mat-list-item *ngFor="let coin of searchResults" (click)="selectCoin(coin)">
          {{ coin.name }} ({{ coin.symbol }})
          <span class="add-text">ADICIONAR</span>
        </mat-list-item>
      </mat-list>
    </form>
  </div>
</div>
