/* Estilos Globais */
.content-container {
  padding: 20px; /* Ajustado o padding para dar mais espaço */
  background-color: #f7f7f7;
}

/* Card do Formulário */
.search-container {
  background-color: white;
  padding: 20px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Alinhar o campo de pesquisa e o botão lado a lado */
.card-body {
  display: flex;
  align-items: center;  /* Alinha verticalmente */
  justify-content: flex-start;  /* Garante que os itens fiquem alinhados à esquerda */
}

/* Estilo do Campo de Pesquisa */
.search-field {
  width: 100%;
  margin-right: 10px;
}

/* Estilo do Botão */
button.mat-raised-button {
  padding: 10px 20px;
  text-transform: none;
  margin-left: 10px;
}

/* Estilo para as Sugestões */
.search-results {
  margin-top: 10px;
  padding: 0;
  max-height: 200px;
  overflow-y: auto;
  border-radius: 8px;
}

.mat-list-item {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.mat-list-item:hover {
  background-color: #0056b3;
  color: white;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  .card-body {
    flex-direction: row; /* Garante que o layout continue em linha em telas menores */
    flex-wrap: wrap;  /* Permite que os itens se ajustem caso o espaço seja limitado */
    justify-content: flex-start;
  }

  .search-field {
    margin-bottom: 10px;
    width: 100%; /* Garante que o campo de pesquisa ocupe a largura completa */
  }

  button.mat-raised-button {
    width: 100%; /* Faz com que o botão ocupe toda a largura disponível, se necessário */
  }
}

/* Estilo para o texto "Clique para adicionar" */
.add-text {
  font-size: 12px;
  color: #007bff;
  margin-left: 10px;
  cursor: pointer;
  font-style: italic;
}

/* Estilo para o item de lista ao passar o mouse */
.mat-list-item:hover .add-text {
  text-decoration: underline;  /* Adiciona um sublinhado ao passar o mouse */
}
