<div class="content-container">
  <div class="search-container">
    <div class="row">
      <div class="col-12 col-md-10 col-lg-8 mx-auto">
        <form (submit)="onEnterKey(); $event.preventDefault();" class="card card-sm">
          <div class="card-body row no-gutters align-items-right">
            <div class="col-auto">
              <i class="fas fa-search h4 text-body"></i>
            </div>
            <div class="col">
              <input 
                #searchInput
                name="search" 
                class="form-control form-control-lg form-control-borderless" 
                type="search"
                placeholder="Pesquisar moeda"
                [(ngModel)]="searchQuery"
                (input)="onInputChange(searchInput.value)"
                (keydown.enter)="onEnterKey()"
              />
              <!-- Exibir sugestões diretamente abaixo do campo de entrada -->
              <ul *ngIf="searchResults.length > 0" class="list-group mt-2">
                <li *ngFor="let coin of searchResults" class="list-group-item" (click)="selectCoin(coin)">
                  {{ coin.name }} ({{ coin.symbol }})
                </li>
              </ul>
            </div>
            <div class="col-auto">
              <button class="btn btn-lg btn-success" type="button" (click)="onEnterKey()">Pesquisar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

    <!-- Exibir a moeda selecionada -->
    <div *ngIf="selectedCoin" class="mt-3">
      Moeda selecionada: {{ selectedCoin }}
    </div>
  </div>
